# Dependencias
node_modules/

# Carpeta generada al compilar
dist/

# Variables de entorno
.env
.env.*

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales de VS Code
.vscode/*
!.vscode/extensions.json